* {
    margin: 0;
    padding: 0;
}

body {
}

#content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.bg-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed; 
    left: 0px; 
    top: 0px; 
    opacity: 1;
    z-index: -1;

}

/* header */

.header-div {
    background-color: #29323869;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
    width: 30%;
    gap: 40px;
}

.header-li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 10%;
    font-size: 20px;
    color: #b3c8d7;
    cursor: pointer;
}

/* main */

.body-div {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.body-home-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    border-radius: 50%;
    margin-top: 30px;;
}

.body-center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
    background-color: #293238be;
}

.photo-body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home-div {
    height: 100%;
    width: 100%;
}



.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    color: #bfd7e7;
    gap: 8px;
    margin-top: 15px;
}

.cta-div {
    margin-top: 20px;
    height: 100%;
    font-size: 1.5rem;
    color: #bfd7e7;
}

.hidden {
    display: none;
}


/* menu */

.menu-div {
    background-color: #293238be;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60%;
    width: 40%;
    gap: 20px;
}

.item-card {
    height: 25%;
    width: 40%;
    background-color: #8f9fa19f;
}

.item-image {
    height: 80%;
    width: 100%;
}

.card-text {
    width: 100%;
    padding-bottom: 7px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #ded080;
}


/* contact */

.contact-main {
    background-color: #293238be;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    flex-direction: column;
}

.person-img {
    height: 180px;
    width: 150px;
    border-radius: 50px;
    object-fit: cover;
}

.contact-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.person-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* effects */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #7b8344;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color: white;
  }
  .hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  